.next {
  border-radius: 0 25px 0 0;
}
.prev {
  border-radius: 0 0 25px 0;
}
.dashboard-wrapper {
  display: flex;
  color: black;
}
.dashboard-under-wrapper {
  width: 100%;
}
.dashboard-header-wrapper {
  z-index: 8;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
.dashboard-header-wrapper.active{
  width: 85%;
}
.dashboard-header-search-wrapper {
  position: relative;
}
.courseWrapper{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-header-search {
  border: solid 2px gray;
  border-radius: 30px;
  height: 25px;
  width: 260px;
  padding: 15px 15px 15px 25px;
  position: relative;
}
.dashboard-header-search-wrapper::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 17px;
  height: 17px;
  z-index: 10;
  background-image: url("/images/search-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard-header-logo {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
}
.aside-li {
  color: white;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 15px;
  background: #1e90ff;
}
.aside-li img {
  width: 25px;
  height: 25px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(211deg)
    brightness(104%) contrast(101%);
  cursor: pointer;
}
.aside-li-first {
  height: 20px;
}
.aside-title {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 5px;
  color: white;
  position: relative;
}
.aside-title img {
  width: 80px;
  
}
.dashboard-burger-menu {
  position: absolute;
  right: -60px;
}
.aside-title span {
  opacity: 0;
  transition: all 0.8s ease-in-out;
  font-size: 18px;
  font-weight: 600;
}
.asideWrapper{
  width: 300px;
  transition: all 0.7s ease-in-out;

}
.aside-wrapper {
  z-index: 10;
  position: fixed;
  width: 240px;
  height: 100vh;
  background: #1e90ff;
  transition: all 0.65s ease-in-out;
}
.aside-wrapper ul li.active {
  background: white;
  border-radius: 25px 0 0 25px;
}
.aside-wrapper ul li:nth-of-type() {
  background: black;
}
.aside-wrapper ul li.active span {
  color: #1e90ff;
  transition: all 0.8s ease-in-out;
}
.aside-wrapper ul li.active img {
  filter: invert(46%) sepia(79%) saturate(2846%) hue-rotate(192deg)
    brightness(100%) contrast(106%);
}
.aside-li span {
  font-weight: 600;
  margin-left: 15px;
  padding-top: 5px;
  opacity: 0;
  cursor: pointer;
}
.aside-li div {
  display: flex;
  align-items: center;
}
.aside-wrapper ul {
  background: linear-gradient(to right, #1e90ff 50%, white 50%);
  padding-left: 15px;
}
.aside-title-active {
  opacity: 1 !important;
}
.BurgerActive {
  width: 80px;
}

/* Burger Menu */

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
.editCourse-title-wrapper{
  align-items: center;
}
.new-courses-btn{
  margin: 0;
  display: flex;
  justify-content: center;
}
.edit-course-card{
  min-height: fit-content;
  box-shadow: none;
  display: flex;
}
.cursor{
  cursor: default;
}
.btn-wrapper{
  height: 80px;
  justify-content: center;
}
.course-edit-wrapper{
  color: #000;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}
.edit-form{
  width: 40%;
}
.edit-label{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.edit-input{
  width: 250px;
}
input[type='color']{
  width: 25px;
  height: 25px;
  margin-right: 12px;
  border: none;
  cursor: pointer;
}
[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9f9;
}
.color-picker div{
  display: flex;
  cursor: pointer;
}
.color-picker{
  cursor: pointer;
  
}
.save-btn{
  display: flex;
  justify-content: center;
}
.save-btn button{
  font-size: 16px;
    letter-spacing: 1px;
    padding: 14px 45px;
    box-shadow: 0px 0px 15px #42bdeb;
    color: white;
}
.courses-card-wrapper{
  position: relative;
}
.delete-btn{
  position: absolute;
  right: 0;
  z-index: 5;
}
.card-update{
  background: #1e90ff;
  position: absolute;
  top: -3000px;
  left: 0;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}
.card-update span{
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
.card-update.active{
  top: 0;
}
@media(max-width: 1190px){
  .edit-course-card{
    width: 700px;
    max-width: 700px;
  }
}